<h1>Details</h1>
<%= link_to "Return", root_path %>
<%= link_to "Edit", edit_transaction_path %>
<%= link_to "Delete", transactions_path, method: :delete %>
<table>
  <thead>
    <tr>
      <th>Identificador</th>
      <th>Quantidade</th>
      <th>Moeda</th>
      <th>Tipo</th>
      <th>Total</th>
      <th>Cotação</th>
      <th>Data</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @transaction.id %></td>
      <td><%= format("%.2f", @transaction.amount) %></td>
      <td><%= @transaction.str_converter(@transaction.currency) %></td>
      <td><%= @transaction.str_converter(@transaction.transaction_type) %></td>
      <td><%= @transaction.read_attribute(:total) %></td>
      <td><%= "R$ #{format("%.2f",@transaction.quotation)}" %></td>
      <td><%= @transaction.date.strftime('%d/%m/%Y') %></td>
    </tr>
  </tbody>
</table>
